@charset "utf-8";

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    background-color: #000000;
    /* background-color: #1f1f1f; */
}

.page{
    width: 800px;
    margin: auto;
}

.top{
    width: 470px;
    height: 110px;
    font-size: 35px;
    color: #ffffff;
    margin: auto;
}

.top img{
    float: left;
    /* padding-left: 65px; */
}

.top span{
    padding-top: 25px;
    padding-left: 30px;
    float: left;
}

.center-left{
    float: left;
}

.center-right{
    padding-left: 30px;
    float: left;
}

.center-right-auto{
    width: 49%;
    padding: 8px 20px;
    font-size: 25px;
    background-color: #ff9a00;
    outline: none;
    border: 0;
    border-radius: 4px;
}
.center-right-auto-stop{
    width: 49%;
    padding: 8px 20px;
    font-size: 25px;
    background-color: #848484;
    outline: none;
    border: 0;
    border-radius: 4px;
}

.pad-button{
    width: 100px;
    height: 100px;
    background-color: #ff9a00;
    font-size: 50px;
    outline: none;
    border: 0;
    border-radius: 4px;
}

.lcd{
    width: 450px;
    margin-top: 20px;
    border-color: #ff9a00;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    background-color: #ff9a00;
}

.lcd-input{
    width: 73%;
    font-size: 20px;
    color: #848484;
    border: 0;
    outline: none;
    padding: 5px 10px;
}

.lcd-submit{
    font-size: 20px;
    padding: 5px 15px;
    background-color: #ff9a00;
    border: 0;
    outline: none;
}